.racer_table td {
  background-color: white;
  height: 30px;
  width: 30px;
}

.racer_table #player1_strip td.active {
  background-color: red;
}

.racer_table #player2_strip td.active {
  background-color: blue;
}

tr td {
  border: 1px solid black;
}
