<div class="container">
  <h1>Welcome to Java Racer!</h1>

  <form id="start-game" action='/' method='post'>
    <input id="player1-box" type="text" name="player1" placeholder="Player 1">
    <input id="player2-box" type="text" name="player2" placeholder="Player 2">
    <select name="track_length">
      <option value="10">Short</option>
      <option value="15">Medium</option>
      <option value="20">Long</option>
    </select>
    <input id="start-button" type="submit" value="START GAME">
  </form>

</div>
