<div class="container">
  <h1>Welcome to Java Racer!</h1>

  <form id="start-game" action='/' method='post'>
    <ul id="player-list">
      <li><input class="player-field" type="text" name="players[1]" placeholder="Player 1"></li>
      <li><input class="player-field" type="text" name="players[2]" placeholder="Player 2"></li>
    </ul>
    <button id="add-player">Add Player</button>
    <select name="track_length">
      <option value="10">Short</option>
      <option value="15">Medium</option>
      <option value="20">Long</option>
    </select>
    <input id="start-button" type="submit" value="START GAME">
  </form>

</div>
